{{/* Display author list. */}}

{{- $taxonomy := "authors" }}
{{- $admin_page := site.GetPage (printf "/%s/%s" $taxonomy "admin") -}}
{{- $admin_name := $admin_page.Params.name -}}
{{ with .Param $taxonomy }}
  {{ $link_authors := site.Params.link_authors | default true }}
  {{ $authorLen := len . }}
  {{ range $index, $value := . }}
    {{- $profile_page := (index site.Params.publications.coauthor_links $value) -}}
    {{- $name := $value | markdownify -}}
    {{- if eq $name "admin" -}}
      {{- $name = (printf "**%s**" $admin_name) | markdownify -}}
    {{- end -}}
    {{- if and (eq $index (sub $authorLen 1)) (eq $index 1) }} and {{ else if eq $index (sub $authorLen 1) }}, and {{ else if gt $index 0 }}, {{ end -}}
    <span>
      {{- if $profile_page -}}
        <a href="{{ $profile_page | relURL }}" target="_blank">{{ $name }}</a>
      {{- else -}}
        {{ $name }}
      {{- end -}}
    </span>
  {{- end -}}
{{- end -}}
