{{ $is_list := .is_list }}
{{ $ := .content }}

{{ with $.Params.abstract }}
<a class="btn btn-outline-primary my-1 mr-1{{ if $is_list }} btn-sm{{end}}" href="javascript:;" onClick="
  if (document.getElementById('{{ $.Params.bibkey }}-abstract').style.display == 'block') {
    document.getElementById('{{ $.Params.bibkey }}-abstract').style.display='none';
  } else {
    document.getElementById('{{ $.Params.bibkey }}-abstract').style.display='block';
  }
  ">
  {{ i18n "abstract" }}
</a>
{{ end }}

{{ with $.Permalink }}
{{ $link := . | absURL }}
<a class="btn btn-outline-primary my-1 mr-1{{ if $is_list }} btn-sm{{end}}" href="{{ $link }}" rel="noopener">
  {{ i18n "btn_details" }}
</a>
{{ end }}

<div id="{{ $.Params.bibkey }}-abstract" style="display: none; margin-left: 20px; font-size: medium" style="text-align:right;">
  <p>
    {{ $.Params.abstract | markdownify}}
  </p>
</div>
